{ config, pkgs, lib, ... }:

{
  imports = [ ];

  nixpkgs.config.allowUnfree = true;

  # Boot
  boot.loader.grub.enable = true;
  boot.loader.grub.device = "/dev/vda";
{{- if .VenusEnabled}}
  boot.kernelPackages = pkgs.linuxPackages_latest;
{{- end}}
  boot.kernelModules = [ "vhost_vsock" ];

  # Networking
  networking.hostName = "{{.Config.Name}}";
{{- if eq .NetworkMode "None"}}
  networking.useDHCP = false;
  networking.interfaces = { };
{{- else}}
  networking.useDHCP = true;
{{- end}}
  networking.firewall.allowedTCPPorts = [ 22 ];

  # Users
  users.users.user = {
    isNormalUser = true;
    extraGroups = [ "wheel" "video" "audio" "render" "input" ];
    hashedPassword = "{{.HashedPassword}}";
    openssh.authorizedKeys.keys = [ "{{.SSHPublicKey}}" ];
  };

  security.sudo.wheelNeedsPassword = false;

  # Services
  services.openssh.enable = true;
  services.qemuGuest.enable = true;

  # Packages
  environment.systemPackages = with pkgs; [
{{- range .MappedPackages}}
    {{.}}
{{- end}}
  ];
{{- if not .Config.Headless}}

  # Force Wayland for all apps (Chromium/Electron, GTK, Qt)
  environment.sessionVariables = {
    NIXOS_OZONE_WL = "1";
    GDK_BACKEND = "wayland";
    QT_QPA_PLATFORM = "wayland";
    SDL_VIDEODRIVER = "wayland";
    CLUTTER_BACKEND = "wayland";
    MOZ_ENABLE_WAYLAND = "1";
    ELECTRON_OZONE_PLATFORM_HINT = "wayland";
  };
{{- end}}
{{template "venus" .}}
{{template "audio" .}}
{{template "flatpak" .}}
{{template "virtiofs" .}}
{{template "waypipe" .}}
{{- if .AutoLogin}}

  services.getty.autologinUser = "user";
{{- end}}
{{- if .CustomNixConfig}}

  {{.CustomNixConfig}}
{{- end}}

  system.stateVersion = "24.11";
}
