{{define "flatpak"}}
{{- if .HasFlatpak}}

  # Flatpak
  services.flatpak.enable = true;
{{range .Config.FlatpakPackages}}
  systemd.services."flatpak-install-{{. | sanitizeServiceName}}" = {
    description = "Install flatpak package {{.}}";
    wantedBy = [ "multi-user.target" ];
    after = [ "network-online.target" "flatpak-system-helper.service" ];
    wants = [ "network-online.target" ];
    serviceConfig = {
      Type = "oneshot";
      RemainAfterExit = true;
      ExecStart = "${pkgs.flatpak}/bin/flatpak install -y flathub {{.}}";
    };
  };
{{end}}
{{- end}}
{{- end}}
