{{define "virtiofs"}}
{{- range .Config.SharedFolders}}

  fileSystems."{{.GuestPath}}" = {
    device = "{{.Tag}}";
    fsType = "virtiofs";
    options = [ "defaults" "nofail"{{if .ReadOnly}} "ro"{{end}} ];
  };
{{- end}}
{{- end}}
